@import '../../assets/styles/color.scss';
footer {
    z-index: 1;
    position: fixed;
    min-width: 400px;
    bottom: 0;
    height: 50px;
    width: 100%;
    white-space: nowrap;
    letter-spacing: 5px;
    border-top: 1px solid rgba(151,151,151,0.50);
    background: $bga;
    ul {
        line-height: 1.5em;
        li + li {
            font-size: 10px;
        }
    }
}