:global {
  .neuShadow_out {
    background: linear-gradient(134deg, #f9ffff 0%, #d2dbe1 100%);
    box-shadow: 5px 5px 10px 0 #ccd5de, -5px -5px 10px 0 #faffff;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
  }

  .neuShadow_out:hover {
    background: linear-gradient(134deg, #d2dbe1 0%, #f9ffff 100%);
    box-shadow: 0px 0px 10px 0 #d2dbe1, 0px 0px 10px 0 #ffffff;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
  }

  .neuShadow_in {
    background: linear-gradient(134deg, #d2dbe1 0%, #f9ffff 100%);
    box-shadow: 0px 0px 0px 0 #ccd5de, 0px 0px 0px 0 #faffff,
      inset 5px 5px 10px 0 rgba(210, 219, 225, 0.8),
      inset -5px -5px 10px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
  }

  .neuShadow_in:hover {
    background: linear-gradient(134deg, #f9ffff 0%, #d2dbe1 100%);
    box-shadow: 5px 5px 10px 0 #ccd5de, -5px -5px 10px 0 #faffff,
      inset 0px 0px 10px 0 rgba(210, 219, 225, 0.8),
      inset 0px 0px 10px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
  }

  .neuShadow_border {
    background: linear-gradient(134deg, #d2dbe1 0%, #f9ffff 100%);
    box-shadow: 5px 5px 10px 0 #d2dbe1, -5px -5px 10px 0 #ffffff,
      inset 0px 0px 0px 0 rgba(210, 219, 225, 0.8),
      inset 0px 0px 0px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
  }

  .neuShadow_border:hover {
    background: linear-gradient(134deg, #d2dbe1 0%, #f9ffff 100%);
    box-shadow: 0px 0px 0px 0 #d2dbe1, 0px 0px 0px 0 #ffffff,
      inset 5px 5px 10px 0 rgba(210, 219, 225, 0.8),
      inset -5px -5px 10px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
  }

  .neuShadow_border_clock {
    background: linear-gradient(134deg, #d2dbe1 0%, #f9ffff 100%);
    box-shadow: inset 0px 0px 0px 0 rgba(210, 219, 225, 0.8),
      inset 0px 0px 0px 0 rgba(255, 255, 255, 0.8), -35px -35px 70px 0 #faffff,
      35px 35px 70px 0 #ccd5de;
    border-radius: 50%;
    transition: box-shadow 0.5s ease-in-out;
  }

  .neuShadow_border_clock:hover {
    background: linear-gradient(134deg, #d2dbe1 0%, #f9ffff 100%);
    box-shadow: inset 20px 20px 40px 0 rgba(210, 219, 225, 0.8),
      inset -20px -20px 40px 0 rgba(255, 255, 255, 0.8), -10px -10px 20px 0 #faffff,
      10px 10px 20px 0 #ccd5de;
    border-radius: 10px;
    transition: box-shadow 0.5s ease-in-out;
  }
}
