@import "init.scss";
@import "Neumorphism.scss";
@import "flex.scss";

:global {
  /* Switch开关样式 */
  /* 必须是input为 checkbox class 添加 switch 才能实现以下效果 */
  input[type="checkbox"].switch {
    outline: none;
    appearance: none;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 30px;
    background: #ebf2f9;
    border-radius: 20px;
    transition:
      border-color 0.3s,
      background-color 0.3s;
  }

  input[type="checkbox"].switch::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #ff7575;
    box-shadow: 0, 0, 2px, #999;
    transition: 0.4s;
  }

  /* 选中后背景颜色 */
  /* input[type='checkbox'].switch:checked {
        background: rgb(19, 206, 102);
      } */

  /* 当input[type=checkbox]被选中时：伪元素显示下面样式 位置发生变化 */
  input[type="checkbox"].switch:checked::after {
    content: "";
    position: absolute;
    left: 32px; /* 到左边的距离=组件宽度-伪类宽度-边距 */
    background: #80f549;
  }
}
