// 模拟时钟
.AnalogClock {
  max-width: 450px;
  max-height: 450px;
  min-width: 200px;
  min-height: 200px;
  border-radius: 50%;
}

// 数字时钟 比例 3:7
.DigitalClock {
  background: #e3edf7;
  box-shadow: inset -30px -30px 100px 0 #faffff, inset 30px 30px 100px 0 #ccd5de;
  border-radius: 50px;

  max-width: 700px;
  max-height: 300px;
  min-width: 350px;
  min-height: 150px;
}

// 时针
.hourLine {
  position: absolute;
  background: #333333;
  border-radius: 10px;
  transform-origin: 50% 100%;
  max-height: 100px;
  min-height: 40px;
  width: 1vw;
  height: 6vw;
}

// 分针
.minuteLine {
  position: absolute;
  background: #ff7575;
  border-radius: 10px;
  transform-origin: 50% 100%;
  max-height: 130px;
  min-height: 70px;
  width: 1vw;
  height: 8vw;
}

// 秒针
.secondLine {
  position: absolute;
  background: #747474;
  border-radius: 10px;
  transform-origin: 50% 100%;
  max-height: 190px;
  min-height: 80px;
  width: 0.3vw;
  height: 12vw;
}

// 针过渡
.lineTransition {
  transition: 1s all linear;
}

// 钟心
.dot {
  position: absolute;
  border-radius: 50%;
  width: 1vw;
  height: 1vw;
  background-color: #ff7575;
}

.time {
  letter-spacing: 8px;
  margin-top: 50px;
}

.DigitalClockTime {
  letter-spacing: 8px;
  font-weight: 100;
  font-size: 60px;
}
