.clock {
    max-width: 450px;
    max-height: 450px;
}

// 时针
.hLine {
    position: absolute;
    background:#333333;
    border-radius: 10px;
    transform-origin: 50% 100%;
    max-height: 100px;
    width: 1vw;
    height: 6vw;
}

// 分针
.mLine {
    position: absolute;
    background:#FF7575;
    border-radius: 10px;
    transform-origin: 50% 100%;
    max-height: 130px;
    width: 1vw;
    height: 8vw;
}

// 秒针
.sLine {
    position: absolute;
    background:#747474;
    border-radius: 10px;
    transform-origin: 50% 100%;
    max-height: 190px;
    width: 0.3vw;
    height: 12vw;
}

.lineTransition {
    transition:1s all linear;
}

.dot {
    position: absolute;
    border-radius: 50%;
    width: 1vw;
    height: 1vw;
    background-color: #FF7575;
}

.time {
    letter-spacing: 8px;
    margin-top: 50px;
}

